%h2= @feed.title
.entries
  - @feed.articles.each do |article|
    %h3= article.title
    - if article.content
      %p= article.content
    - else
      %p= article.summary
    %form{ action: "/articles/#{article.id}/mark-as-read", method:"post"}
      %input{ type: 'hidden', name:'_method', value:'put'}
      %input{ type: 'submit', value: 'Mark as Read' }